.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #00A0D5;
}
.App {
  text-align: center;
  background-color: #282c34;
}

.App-header {
  background-color: #00A0D5;
  padding: 20px;
  color: white;
  animation: App-header-animation 5s infinite;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../src/images/background.jpg);
  background-size: cover;
  background-position: center;

}
a {
  color: #FFF;
}
a:hover {
   color: #00F
}
@keyframes App-header-animation {
  0% { background-color: #00A0D5; }
  50% { background-color: #0b3c5d; }
  100% { background-color: #00A0D5; }
}

main {
  color: white;
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

section h2 {
  animation: color-change 2s infinite;
}

@keyframes color-change {
  0% { color: white; }
  50% { color: #a2e1fa; }
  100% { color: white; }
}

.projects {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.project-box {
  background-color: #00A0D5;
  width: 300px;
  height: 300px;
  padding: 10px;
  box-sizing: border-box;
  color: black;
  transition: transform 0.5s;
}

.project-box:hover {
  transform: scale(1.05);
}

.project-box img {
  width: 100%;
  height: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
